# Importing data and required libraries

In [198]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px 
from sklearn.impute import SimpleImputer
from sklearn.decomposition import PCA
from sklearn.preprocessing import StandardScaler as scale

In [199]:
df=pd.read_csv("C:\\study\\my prep\\archive\\hotel_bookings.csv")

In [200]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 119390 entries, 0 to 119389
Data columns (total 32 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   hotel                           119390 non-null  object
 1   is_canceled                     119390 non-null  int64
 2   lead_time                       119390 non-null  int64
 3   arrival_date_year               119390 non-null  int64
 4   arrival_date_month              119390 non-null  object
 5   arrival_date_week_number        119390 non-null  int64
 6   arrival_date_day_of_month       119390 non-null  int64
 7   stays_in_weekend_nights         119390 non-null  int64
 8   stays_in_week_nights            119390 non-null  int64
 9   adults                          119390 non-null  int64
 10  children                        119386 non-null  float64
 11  babies                          119390 non-null  int64
 12  meal                            119390 non-null  object
 13  country                         118902 non-null  object
 14  market_segment                  119390 non-null  object
 15  distribution_channel            119390 non-null  object
 16  is_repeated_guest               119390 non-null  int64
 17  previous_cancellations          119390 non-null  int64
 18  previous_bookings_not_canceled  119390 non-null  int64
 19  reserved_room_type              119390 non-null  object
 20  assigned_room_type              119390 non-null  object
 21  booking_changes                 119390 non-null  int64
 22  deposit_type                    119390 non-null  object
 23  agent                           103050 non-null  float64
 24  company                         6797 non-null    float64
 25  days_in_waiting_list            119390 non-null  int64
 26  customer_type                   119390 non-null  object
 27  adr                             119390 non-null  float64
 28  required_car_parking_spaces     119390 non-null  int64
 29  total_of_special_requests       119390 non-null  int64
 30  reservation_status              119390 non-null  object
 31  reservation_status_date         119390 non-null  object
dtypes: float64(4), int64(16), object(12)
memory usage: 29.1+ MB

In [201]:
# Count the number of NaNs each column has.
nans=pd.isnull(df).sum()
nans[nans>0]

children         4
country        488
agent        16340
company     112593
dtype: int64

In [202]:
# Remove columns with more than a thousand missing values
df=df.drop("agent", 1)
df=df.drop("company", 1)
df=df.drop("reservation_status_date",1)
df=df.drop("country",1)

C:\Users\sucha\AppData\Local\Temp/ipykernel_70160/2957018656.py:2: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  df=df.drop("agent", 1)
C:\Users\sucha\AppData\Local\Temp/ipykernel_70160/2957018656.py:3: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  df=df.drop("company", 1)
C:\Users\sucha\AppData\Local\Temp/ipykernel_70160/2957018656.py:4: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  df=df.drop("reservation_status_date",1)
C:\Users\sucha\AppData\Local\Temp/ipykernel_70160/2957018656.py:5: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  df=df.drop("country",1)

In [203]:
#filling njll values of children
df['children']=df["children"].fillna(df['children'].mode()[0])

In [204]:
#converting data type of children, adr to int
df["children"]=df["children"].astype(int)
df["adr"]=df["adr"].astype(int)

In [205]:
#Count the column types
df.dtypes.value_counts()

int64     16
object    10
int32      2
dtype: int64

In [206]:
unique_counts = pd.DataFrame.from_records([(col, df[col].nunique()) for col in df.columns],
                          columns=['Column_Name', 'Num_Unique']).sort_values(by=['Num_Unique'])

In [207]:
unique_counts

                       Column_Name  Num_Unique
0                            hotel           2
1                      is_canceled           2
15               is_repeated_guest           2
21                    deposit_type           3
27              reservation_status           3
3                arrival_date_year           3
23                   customer_type           4
25     required_car_parking_spaces           5
10                        children           5
11                          babies           5
12                            meal           5
14            distribution_channel           5
26       total_of_special_requests           6
13                  market_segment           8
18              reserved_room_type          10
19              assigned_room_type          12
4               arrival_date_month          12
9                           adults          14
16          previous_cancellations          15
7          stays_in_weekend_nights          17
20                 booking_changes          21
6        arrival_date_day_of_month          31
8             stays_in_week_nights          35
5         arrival_date_week_number          53
17  previous_bookings_not_canceled          73
22            days_in_waiting_list         128
24                             adr         381
2                        lead_time         479

In [208]:

categorical = ['hotel','is_canceled','arrival_date_year','arrival_date_week_number','arrival_date_month',
               'arrival_date_day_of_month','meal','market_segment','distribution_channel', 'is_repeated_guest','deposit_type ',
               'reserved_room_type','assigned_room_type','customer_type','reservation_status']

In [209]:
for col in df.columns:
    if  col in categorical:
        df[col] = df[col].astype('category')

In [212]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 119390 entries, 0 to 119389
Data columns (total 28 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   hotel                           119390 non-null  category
 1   is_canceled                     119390 non-null  category
 2   lead_time                       119390 non-null  int64
 3   arrival_date_year               119390 non-null  category
 4   arrival_date_month              119390 non-null  category
 5   arrival_date_week_number        119390 non-null  category
 6   arrival_date_day_of_month       119390 non-null  category
 7   stays_in_weekend_nights         119390 non-null  int64
 8   stays_in_week_nights            119390 non-null  int64
 9   adults                          119390 non-null  int64
 10  children                        119390 non-null  int32
 11  babies                          119390 non-null  int64
 12  meal                            119390 non-null  category
 13  market_segment                  119390 non-null  category
 14  distribution_channel            119390 non-null  category
 15  is_repeated_guest               119390 non-null  category
 16  previous_cancellations          119390 non-null  int64
 17  previous_bookings_not_canceled  119390 non-null  int64
 18  reserved_room_type              119390 non-null  category
 19  assigned_room_type              119390 non-null  category
 20  booking_changes                 119390 non-null  int64
 21  deposit_type                    119390 non-null  object
 22  days_in_waiting_list            119390 non-null  int64
 23  customer_type                   119390 non-null  category
 24  adr                             119390 non-null  int32
 25  required_car_parking_spaces     119390 non-null  int64
 26  total_of_special_requests       119390 non-null  int64
 27  reservation_status              119390 non-null  category
dtypes: category(14), int32(2), int64(11), object(1)
memory usage: 13.4+ MB

In [213]:
#one hot encoding
for col in df.columns:
    if  col in categorical:
        data = pd.get_dummies(df)

In [214]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 119390 entries, 0 to 119389
Columns: 168 entries, lead_time to reservation_status_No-Show
dtypes: int32(2), int64(11), uint8(155)
memory usage: 28.6 MB

In [215]:
scaler = scale()

In [216]:
scaler.fit(data[0:])

StandardScaler()

In [217]:
df_pca = pd.DataFrame(scaler.transform(data[0:]))
df_pca

,0,1,2,3,4,5,6,7,8,9,...,158,159,160,161,162,163,164,165,166,167
0,2.227051,-0.928890,-1.310240,0.247897,-0.260659,-0.081579,-0.10318,-0.091555,4.260101,-0.131924,...,0.375431,-0.373075,-0.036861,-0.188008,-0.069688,0.576441,-0.516258,-0.750499,0.76704,-0.101059
1,5.923385,-0.928890,-1.310240,0.247897,-0.260659,-0.081579,-0.10318,-0.091555,5.793131,-0.131924,...,0.375431,-0.373075,-0.036861,-0.188008,-0.069688,0.576441,-0.516258,-0.750499,0.76704,-0.101059
2,-0.907814,-0.928890,-0.786207,-1.478447,-0.260659,-0.081579,-0.10318,-0.091555,-0.338990,-0.131924,...,0.375431,-0.373075,-0.036861,-0.188008,-0.069688,0.576441,-0.516258,-0.750499,0.76704,-0.101059
3,-0.851667,-0.928890,-0.786207,-1.478447,-0.260659,-0.081579,-0.10318,-0.091555,-0.338990,-0.131924,...,0.375431,-0.373075,-0.036861,-0.188008,-0.069688,0.576441,-0.516258,-0.750499,0.76704,-0.101059
4,-0.842309,-0.928890,-0.262174,0.247897,-0.260659,-0.081579,-0.10318,-0.091555,-0.338990,-0.131924,...,0.375431,-0.373075,-0.036861,-0.188008,-0.069688,0.576441,-0.516258,-0.750499,0.76704,-0.101059
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119385,-0.758089,1.073895,1.309924,0.247897,-0.260659,-0.081579,-0.10318,-0.091555,-0.338990,-0.131924,...,0.375431,-0.373075,-0.036861,-0.188008,-0.069688,0.576441,-0.516258,-0.750499,0.76704,-0.101059
119386,-0.018822,1.073895,1.309924,1.974242,-0.260659,-0.081579,-0.10318,-0.091555,-0.338990,-0.131924,...,0.375431,-0.373075,-0.036861,-0.188008,-0.069688,0.576441,-0.516258,-0.750499,0.76704,-0.101059
119387,-0.655153,1.073895,1.309924,0.247897,-0.260659,-0.081579,-0.10318,-0.091555,-0.338990,-0.131924,...,0.375431,-0.373075,-0.036861,-0.188008,-0.069688,0.576441,-0.516258,-0.750499,0.76704,-0.101059
119388,0.046682,1.073895,1.309924,0.247897,-0.260659,-0.081579,-0.10318,-0.091555,-0.338990,-0.131924,...,0.375431,-0.373075,-0.036861,-0.188008,-0.069688,0.576441,-0.516258,-0.750499,0.76704,-0.101059
119389,0.945032,1.073895,2.357989,0.247897,-0.260659,-0.081579,-0.10318,-0.091555,-0.338990,-0.131924,...,0.375431,-0.373075,-0.036861,-0.188008,-0.069688,0.576441,-0.516258,-0.750499,0.76704,-0.101059

In [219]:
pca =  PCA(n_components= 15).fit(df_pca)
df_pca = pd.DataFrame(pca.transform(df_pca))
pcs = ['pc'+str(i+1) for i in range(15)]

In [220]:
df_pca.columns = pcs
df_pca.head()

,pc1,pc2,pc3,pc4,pc5,pc6,pc7,pc8,pc9,pc10,pc11,pc12,pc13,pc14,pc15
0,3.531819,-0.439449,2.881250,3.895686,3.207154,0.988422,0.358314,-1.198274,0.668927,-2.093185,-1.340717,-0.520619,0.717217,1.229761,-1.404666
1,2.941187,-0.311356,2.660410,4.606108,3.605605,0.743239,0.207225,-0.693847,0.377776,-2.379296,-1.350882,-0.530384,0.774437,1.277825,-1.649732
2,2.964038,-1.442276,2.263918,1.964225,2.123946,1.334168,0.216976,-1.349008,1.126990,-2.277278,-1.514913,-0.500202,1.169637,1.599050,-0.702882
3,1.641068,-3.524972,1.922568,-0.204323,0.264593,0.512843,2.808616,1.543397,-0.380511,-1.109751,-1.212226,-0.313970,1.070195,1.504385,-0.416518
4,1.249057,0.135886,-1.184370,-0.023220,0.392859,0.735447,2.261571,-0.125156,0.078001,-1.062679,-1.439154,-0.934010,1.422555,1.490930,-0.265402

# Correlation between features

In [221]:
df_pca.corr().style.background_gradient(cmap='coolwarm')

###### PCA doesn't help much they still doesn't exhibit much variance